<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.humans.cleanwatercrowdsourcing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="com.example.humans.cleanwatercrowdsourcing.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.humans.cleanwatercrowdsourcing.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".controller.HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.SuccessfulLogin" />
        <activity
            android:name=".controller.Login"
            android:label="@string/title_activity_login" />
        <activity android:name=".controller.EditProfile" />
        <activity
            android:name=".controller.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.SuccessfulRegistration"
            android:label="@string/title_activity_successful_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.User"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.Worker"
            android:label="@string/title_activity_worker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.Manager"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.Administrator"
            android:label="@string/title_activity_administrator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.CreateReport" />
        <activity android:name=".controller.ViewReports" />
        <activity android:name=".controller.ViewMap" />
        <activity android:name=".controller.ViewHistoryGraph" />
        <activity android:name=".controller.CreatePurityReport" />
        <activity android:name=".controller.ViewPurityReport" />
        <activity android:name=".controller.DisplayGraph" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBzokohu9FNkuNcUG0Sr0hRrBW8uehAirA" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>